{% extends "base.html" %}

{% block pagetitle %}
Register New User
{% endblock %}

{% block jumboheading %}
{% endblock %}


{% block content %}


  <div class="col-xs-6">
    <a target="_blank" href="klematis_big.htm">
      <img src="http://www.w3schools.com/css/klematis2_small.jpg" alt="Klematis" width="110" height="90">
    </a>
  </div>
  <div class="col-xs-6">
    <a target="_blank" href="klematis_big.htm">
      <img src="http://www.w3schools.com/css/klematis2_small.jpg" alt="Klematis" width="110" height="90">
    </a>
  </div>






{% endblock %}
