{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'HereOrThere/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'HereOrThere/css/pure-min.css' %}" />
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'HereOrThere/css/jumbotron-narrow.css' %}" />
<title>BarBarSheep: {% block pagetitle %}{% endblock %}</title>
	<style>
    {%block style%}
    {% endblock %}
    </style>
<meta charset="UTF-8">
</head>
{% block prescript %}{% endblock %}
<script>



  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
 

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{{FACEBOOK_APP_ID}}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.0' // use version 2.0
  });


  

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

{% block script %}{% endblock %}</script>
<body>

<div class="container">
      <div class="header">
<!--Login buttons or logout button-->

        {% block navright %}

        {% endblock %}
        <h3 class="text-muted">BarBarSheep</h3>

      </div>

      <div class="jumbotron" id="jbtron">
        <h1>{% block jumboheading %}{% endblock %}</h1>
        <p class="lead">

{% block content %}{% endblock %}</p>
      </div>
{% block postjumbo %} {% endblock %}

      <div class="footer">
        <p>&copy; BarBarSheep 2014</p>
      </div>

    </div> <!-- /container -->
{% block tester %}{% endblock %}

</body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
  

    <title>Narrow Jumbotron Template for Bootstrap</title>

    

    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>