{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'HereOrThere/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'HereOrThere/css/pure-min.css' %}" />
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'HereOrThere/css/jumbotron-narrow.css' %}" />
<title>BarBarSheep: {% block pagetitle %}{% endblock %}</title>
	<style>
    {%block style%}
    {% endblock %}
    </style>
<meta charset="UTF-8">
</head>
{% block prescript %}{% endblock %}
<script>



  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
 

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{{FACEBOOK_APP_ID}}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.0' // use version 2.0
  });


  FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  function log_user_in(response) {
    var form = document.getElementById("login_form");
    var uid = response.authResponse.userID;
    var token = response.authResponse.accessToken;
    document.getElementById('fb_userid_field').setAttribute('value',uid);
    document.getElementById('fb_token_field').setAttribute('value',token);
    form.submit()
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  function statusChangeCallback(response) {

    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      log_user_in(response);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please authorize BarBarSheep';
    } 
  }



{% block script %}{% endblock %}</script>
<body>

<div class="container">
      <div class="header">
<!--Login buttons or logout button-->

        {% block navright %}
          <ul class="nav nav-pills pull-right">
  {% if user.is_authenticated %}
    {% if request.session.IG_authd %}
      {{ request.user }}
        <form class="navbar-form nav-pills navbar-right" role="logout" action="{% url 'SiteUsers:logout' %}">
          <button type="submit" class="btn btn-default">hi</button>
        </form>
    {% else %}
    
        <form class="navbar-form nav-pills navbar-right" role="logout" action="{% url 'SiteUsers:logout' %}">
        <img src="{{ user.userprofile.ig_pic }}" width=25>
        {{ user.userprofile.ig_username }}
          <button type="submit" class="btn btn-default">Logout</button>
        </form>
    {% endif %}
  {% else %}
    <form id='login_form' class="navbar-form nav-pills navbar-right" action="{% url 'SiteUsers:login' %}"role="login" method="post">
      {% csrf_token %}
      <input id='fb_userid_field' type='hidden' name='fb_user_id'  />
      <input id='fb_token_field' type='hidden' name='fb_user_token'  />
    </form>

    <fb:login-button class="navbar-form nav-pills navbar-right" size="large" scope={{FBPermissions}}
                 onlogin="checkLoginState()">
  Login via Facebook
</fb:login-button>
<li id='status' class="navbar-form nav-pills navbar-right"></li>
  {% endif %}

  </ul>

        {% endblock %}
        <h3 class="text-muted">BarBarSheep</h3>

      </div>


      <div class="center_box" id="jbtron">

        <h1>{% block jumboheading %}{% endblock %}</h1>
        <p class="lead">

{% block content %}{% endblock %}</p>
      </div>
{% block postjumbo %} {% endblock %}

      <div class="footer">
        <p>&copy; BarBarSheep 2014</p>
      </div>

    </div> <!-- /container -->
{% block tester %}{% endblock %}

</body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
  

    <title>Narrow Jumbotron Template for Bootstrap</title>

    

    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>