{% extends "base.html" %}

{% block pagetitle %}
Register New User
{% endblock %}

{% block jumboheading %}
{% endblock %}
{% block script %}
 // Logout current user if registering new user
  
  
{% endblock %}

{% block content %}

<!-- <form class="pure-form pure-form-aligned" method="post">
{% csrf_token %}
    <fieldset >
        <input type="text" name='username' class="pure-input-1-2" placeholder="Username">
        <input type="password" name="password" class="pure-input-1-2" placeholder="Password">
        <input type="email" name="email" class="pure-input-1-2" placeholder="Email">
    </fieldset>
    <fieldset class="pure-group" id = "fblogin"> -->

    <!-- </fieldset> -->
    <!-- <button type="submit" disabled = true id ="submitbutton" class="pure-button pure-input-1-2 pure-button-primary">Register now</button> -->
<!-- </form> -->




{% endblock %}
